{% extends "main.html" %}

{% block content %}
<div class="container">
    {% if not is_user_authen() %}
    <h4>Hello, Welcome to Somruthai order system.</h4>
    <hr />
    <strong>! โปรดอ่านก่อนกรอกข้อมูลนะคะ !</strong> 
    <ul>
        <ol>กรุณาติดต่อกับทางร้านก่อนกรอกฟอร์มเนื่องจากสต็อคสินค้ามีจำนวนจำกัด ทางร้านไม่อนุญาตให้แชร์ลิงค์นี้ต่อผู้อื่นเพื่อป้องกันการสับสนนะคะ</ol>
        <ol>หลังจากลูกค้ากรอกฟอร์มเสร็จเรียบร้อย รบกวนลูกค้าแจ้ง ชื่อ-สกุล ผ่านทางไลน์ @somruthai เท่านั้น เพื่อชำระเงินและยืนยันรับรหัสรับชุดกับทางร้านค่ะ</ol>
        <ol><em class="text-muted" style="font-size: small;">*หากลูกค้าไม่ได้รับรหัสรับชุดภายใน 2 วันหลังส่งฟอร์ม กรุณาทักซ้ำมาเพื่อขอรหัสนะคะ เนื่องจากป้องกันการตกหล่นของสินค้าค่ะ</em></ol>
        <ol>กรณีลูกค้าสั่งสูทหรือชุดขาว แนะนำวัดตัวที่หน้าร้านเท่านั้นค่ะ</ol>
    </ul>
    {% else %}

    {% endif %}

</div>
{% endblock %}